@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap'); /* font h */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); /* font p */
/* [WebAIM](https://webaim.org/resources/contrastchecker/) was used to check colour contrast between backgrounds and font colours. */
/* Image/icon/font/content sources */



:root {
  --color-body-background: #FEE8C3;
  --color-dnd-red-dark: #CC0000E5;
  --color-dnd-red-light: #FF5C5CE5;
  --color-transparent-dark: #00000050;
  --color-header: #454731;
  --color-body: #6F6B49;
  --color-body-light: #6f6b4922;
  --font-h: 'Eagle Lake', serif;
  --font-p: 'Poiret One', sans-serif;
}

body {
    background: var(--color-body-background);
    font-family: var(--font-p);
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main {
    padding: 0px 10%;
    flex-grow: 9;
}

.hidden {
    visibility: hidden;
}

.transparent-dark {
    color: var(--color-transparent-dark);
}


/* |   | |||||  |||  ||||  ||||| ||||
/* |   | |     |   | |   | |     |   |
/* ||||| ||||  ||||| |   | ||||  ||||
/* |   | |     |   | |   | |     | |
/* |   | ||||| |   | ||||  ||||| |  || */

#header {
    background: var(--color-body-light) url(../images/header/header_background_image.webp) no-repeat 30% 100% / cover;
    height: 200px;
}

#header-h {
    color: var(--color-body-background);
    font-family: var(--font-h);
    text-align: center;
    padding-top: 20px;
}

#header-p {
    color: var(--color-dnd-red-light);
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;color: var(--color-dnd-red-dark);
    font-weight: bold;
}


/* |   |  |||   ||||  |||| ||||  | ||||  |||||
/* ||  | |   | |     |     |   | | |   |   |
/* | | | |   |  |||  |     ||||  | ||||    |
/* |  || |   |     | |     | |   | |       |
/* |   |  |||  ||||   |||| |  || | |       |  */

#header-p,
#main {
    display: none;
}

noscript {
    width: 100%;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
}


/* | |   |  |||| ||||| ||||  |   |  |||| ||||| |  |||  |   |  ||||
/* | ||  | |       |   |   | |   | |       |   | |   | ||  | |
/* | | | |  |||    |   ||||  |   | |       |   | |   | | | |  |||
/* | |  ||     |   |   | |   |   | |       |   | |   | |  ||     |
/* | |   | ||||    |   |  ||  |||   ||||   |   |  |||  |   | ||||  */

#instructions-area {
    padding: 5px;
}

#show-instructions-button {
    border: 2px solid var(--color-header);
    border-radius: 20px 0px;
    padding: 5px 5px 5px 20px;
    display: block;
    cursor: pointer;
}

#hide-instructions-button {
    border: 2px solid var(--color-header);
    border-radius: 20px 0px 0px 0px;
    padding: 5px 5px 5px 20px;
    display: none;
    cursor: pointer;
}

#instructions {
    padding: 5px;
    display: none;
}

#instructions ol,
#instructions ul {
    padding-left: 15px;
}

.header {
    color: var(--color-body-background);
    background: var(--color-header);
    font-family: var(--font-h);
}

.header-body {
    color: var(--color-body-background);
    background: var(--color-body);
    font-family: var(--font-p);
    border: 2px solid var(--color-header);
    border-radius: 0px 0px 20px 0px;
}

.instructions-die {
    list-style-type: square;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;

}

#instructions-die li {
    flex-basis: 100px;
}

.die-keyup {
    color: #ECA2C7;
    background: var(--color-transparent-dark);
    padding: 2px 5px;
    border-radius: 5px;
}

.die-label {
    display: none;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color-header);
}


/* ||||   |||  |     |
/* |   | |   | |     |
/* ||||  |   | |     |
/* | |   |   | |     |
/* |  ||  |||  ||||| |||||  */

#roll-area {
    padding: 5px;
}

.die {
    border: 5px solid black;
    padding: 5px;
    cursor: pointer;
}


/* die-buttons-area */

#die-buttons-area {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.die-btn {
    border: 5px solid black;
    padding: 5px;
    flex-basis: 100px;
}

.d2,
.d4,
.d6,
.d8,
.d10,
.d12,
.d20,
.d-other {
    border: 5px solid black;
    padding: 5px;
}

#d100-contents {
    background-color: black;
    height: 80px;
    position: relative;
}

.d100 {
    width: 60%;
}

#d100-d10 {
    height: 48px;
}

#d10-180 {
    position: absolute;
    left: 40%;
    top: 35%;
    border-radius: 20px 0px 0px 0px;
}


/* roll-results-area */

#roll-results-area {
    padding: 5px;
}

#roll-results-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#current-roll-container,
#cumulative-roll-container,
#previous-rolls-container {
    padding: 5px;
    text-align: center;
    flex: 0 250px; /* grow 0 / shrink 1 / basis 250px */
}

#previous-rolls {
    word-wrap: break-word;
}


/* action-buttons-area */

#action-buttons-area {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#save-button,
#reset-button {
    background: var(--color-body) url(../images/header/header_background_image.webp) no-repeat 49% 89% / auto;
    border: 1px solid var(--color-header);
    text-align: center;
    flex: 0 150px; /* grow 0 / shrink 1 / basis 150px */
    cursor: pointer;
}

.button-h {
    color: #000000;
    border: 5px solid transparent;
    font-weight: bold;
}

#save-button:hover {
    transition: 1s;
    background: var(--color-header) url(../images/header/header_background_image.webp) no-repeat 83% 100% / auto;
}

#reset-button:hover {
    transition: 1s;
    background: var(--color-dnd-red-light) url(../images/header/header_background_image.webp) no-repeat 83% 100% / auto;
    filter: hue-rotate(-90deg) invert(100%);
}

.button-h:hover {
    color: var(--color-body-background);
}

#save-button:active,
#reset-button:active {
    background-color: var(--color-dnd-red-dark);
}


/*  ||||  |||  |   | |||||  ||||
/* |     |   | |   | |     |
/*  |||  |||||  | |  ||||   |||
/*     | |   |  | |  |         |
/* ||||  |   |   |   ||||| ||||  */

table {
    padding: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#previous-rolls-container,
tr:nth-child(odd) {
  background: var(--color-body-light);
}

tr.active {
    font-weight: bold;
}

tr.delete1 {
    background: var(--color-dnd-red-dark);
    transition: all 1s ease;
}

tr.delete2 {
    color: var(--color-body-background);
    background: var(--color-body-background);
    transition: all 2s ease;
}

th {
    background: var(--color-header);
    color: var(--color-body-background);
    padding: 5px;
}

td {
    color: var(--color-header);
    padding: 5px;
}

#table-th-number {
    width: 10px;
}

#table-th-name {
    width: 100px;
}

#table-th-edit-button {
    width: 19px;
}

#table-th-delete-button {
    width: 19px;
}

.rename-button,
.delete-button {
    cursor: pointer;
    stroke: var(--color-header);
}

tr.delete1 td,
tr.delete1 .rename-button,
tr.delete1 .delete-button,
tr.delete2 td,
tr.delete2 .rename-button,
tr.delete2 .delete-button {
    color: currentColor;
    stroke: currentColor;
}

.rename-button:hover,
.delete-button:hover {
    stroke: var(--color-dnd-red-light);
    transition: stroke 400ms ease 100ms; /* transition-property / transition-duration / transition-timing-function / transition-delay */
}

.rename-button:active,
.delete-button:active {
    stroke: var(--color-body-link);
}


/* |||||  |||   |||  ||||| ||||| ||||
/* |     |   | |   |   |   |     |   |
/* ||||  |   | |   |   |   ||||  ||||
/* |     |   | |   |   |   |     | |
/* |      |||   |||    |   ||||| |  || */

#footer {
    width: 100vw;
    text-align: center;
    background: var(--color-body);
    color: var(--color-body-background);
    display: flex;
    justify-content: space-evenly;
}

.footer-button {
    width: 60px;
    border-radius: 30px;
    padding: 5px 10px;
}

.footer-svg-path {
    fill: black;
    padding: 5px;
}

div:hover .footer-svg-path {
    transition: all 1s;
}

#discord:hover,
#github:hover {
    background: var(--color-transparent-dark);
    transition: all 1s;
}

#discord:hover .footer-svg-path {
    fill: #5865F2;
}

#github:hover .footer-svg-path {
    fill: #ffffff;
}

#footer-text {
    color: var(--color-body-background);
    text-decoration: none;
    padding: 0px 10px;
    border-radius: 30px;
}

#footer-h,
#footer-p {
    margin: 0px;
}

.link {
    color: var(--color-dnd-red-light);
}

#footer-text:hover {
    background: var(--color-transparent-dark);
    transition: all 1s ease;
}

#footer-text:hover .link {
    color: var(--color-body-background);
    text-decoration: underline;
    transition: all 1s ease;
}


/*  ||||  |||| ||||  ||||| ||||| |   |  ||||
/* |     |     |   | |     |     ||  | |
/*  |||  |     ||||  ||||  ||||  | | |  |||
/*     | |     | |   |     |     |  ||     |
/* ||||   |||| |  || ||||| ||||| |   | ||||  */

@media screen and (min-width: 768px) {
    #header {
        height: 400px;
    }

    #header-h {
        text-align: left;
        padding: 75px 100px;
    }

    #instructions ol,
    #instructions ul {
        padding-left: 2rem;
    }
}