/* [WebAIM](https://webaim.org/resources/contrastchecker/) was used to check colour contrast between backgrounds and font colours. */
/* Image/icon/font/content sources */

/* roll-area */

#roll-area{
    border: 5px solid cyan;
    padding: 5px;
}

.die{
    border: 5px solid black;
    padding: 5px;
}

/* die-buttons-area */

#die-buttons-area{
    border: 5px solid magenta;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.die-btn{
    border: 5px solid black;
    padding: 5px;
    flex-basis: 100px;
}

.d2,
.d4,
.d6,
.d8,
.d10,
.d12,
.d20{
    border: 5px solid black;
    padding: 5px;
}

#d100-contents{
    background-color: black;
    height: 80px;
    position: relative;
}

.d100{
    width: 60%;
}

#d10-180{
    position: absolute;
    left: 40%;
    top: 35%;
    border-radius: 15px 0px 0px 0px;
}

/* roll-results-area */

#roll-results-area{
    border: 5px solid magenta;
    padding: 5px;
}

#roll-results-container{
    border: 5px solid lime;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#current-roll-container,
#cumulative-roll-container,
#previous-rolls-container{
    border: 5px solid black;
    padding: 5px;
    text-align: center;
    flex: 0 250px; /* grow 0 / shrink 1 / basis 250px */
}

#previous-rolls{
    word-wrap: break-word;
}