@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap'); /* font h */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); /* font p */
/* [WebAIM](https://webaim.org/resources/contrastchecker/) was used to check colour contrast between backgrounds and font colours. */
/* Image/icon/font/content sources */



:root {
  --color-body-background: #FEE8C3;
  --color-body-link: var(--color-dnd-red-dark);
  --color-dnd-red-dark: #CC0000E5;
  --color-dnd-red-light: #FF5C5CE5;
  --color-transparent-dark: #00000050;
  --color-header: #454731;
  --color-body: #6F6B49;
  --font-h: 'Eagle Lake', serif;
  --font-p: 'Poiret One', sans-serif;
}

body {
    padding: 0px 10%;
    min-height: 100vh;
    background: var(--color-body-background);
    font-family: var(--font-p);
    max-width: 100vw;
}


/* | |   |  |||| ||||| ||||  |   |  |||| ||||| |  |||  |   |  ||||
/* | ||  | |       |   |   | |   | |       |   | |   | ||  | |
/* | | | |  |||    |   ||||  |   | |       |   | |   | | | |  |||
/* | |  ||     |   |   | |   |   | |       |   | |   | |  ||     |
/* | |   | ||||    |   |  ||  |||   ||||   |   |  |||  |   | ||||  */

#instructions-area {
    border: 5px solid cyan;
    padding: 5px;
}

#show-instructions-button {
    border: 2px solid var(--color-header);
    border-radius: 20px 0px;
    padding: 5px 5px 5px 20px;
    display: block;
}

#hide-instructions-button {
    border: 2px solid var(--color-header);
    border-radius: 20px 0px 0px 0px;
    padding: 5px 5px 5px 20px;
    display: none;
}

#instructions {
    padding: 5px;
    display: none;
}

.header {
    color: var(--color-body-background);
    background: var(--color-header);
    font-family: var(--font-h);
}

.header-body {
    color: var(--color-body-background);
    background: var(--color-body);
    font-family: var(--font-p);
    border: 2px solid var(--color-header);
    border-radius: 0px 0px 20px 0px;
}


/* |   |  |||   ||||  |||| ||||  | ||||  |||||
/* ||  | |   | |     |     |   | | |   |   |
/* | | | |   |  |||  |     ||||  | ||||    |
/* |  || |   |     | |     | |   | |       |
/* |   |  |||  ||||   |||| |  || | |       | */

#noscript {
    border: 5px solid cyan;
    padding: 5px;
}

#noscript p {
    border: 5px solid magenta;
    padding: 5px;
}


/* ||||   |||  |     |
/* |   | |   | |     |
/* ||||  |   | |     |
/* | |   |   | |     |
/* |  ||  |||  ||||| ||||| */

#roll-area {
    border: 5px solid cyan;
    padding: 5px;
}

.die {
    border: 5px solid black;
    padding: 5px;
}


/* die-buttons-area */

#die-buttons-area {
    border: 5px solid magenta;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.die-btn {
    border: 5px solid black;
    padding: 5px;
    flex-basis: 100px;
}

.d2,
.d4,
.d6,
.d8,
.d10,
.d12,
.d20 {
    border: 5px solid black;
    padding: 5px;
}

#d100-contents {
    background-color: black;
    height: 80px;
    position: relative;
}

.d100 {
    width: 60%;
}

#d10-180 {
    position: absolute;
    left: 40%;
    top: 35%;
    border-radius: 15px 0px 0px 0px;
}


/* roll-results-area */

#roll-results-area {
    border: 5px solid magenta;
    padding: 5px;
}

#roll-results-container {
    border: 5px solid lime;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#current-roll-container,
#cumulative-roll-container,
#previous-rolls-container {
    border: 5px solid black;
    padding: 5px;
    text-align: center;
    flex: 0 250px; /* grow 0 / shrink 1 / basis 250px */
}

#previous-rolls {
    word-wrap: break-word;
}


/* action-buttons-area */

#action-buttons-area {
    border: 5px solid magenta;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#save-button,
#reset-button {
    border: 5px solid black;
    padding: 5px;
    text-align: center;
    flex: 0 150px; /* grow 0 / shrink 1 / basis 150px */
}

#save-button:hover,
#reset-button:hover {
    background-color: red;
}

#save-button:active,
#reset-button:active {
    background-color: green;
}


/*  ||||  |||  |   | |||||  ||||
/* |     |   | |   | |     |
/*  |||  |||||  | |  ||||   |||
/*     | |   |  | |  |         |
/* ||||  |   |   |   ||||| ||||  */

table {
    border: 5px solid cyan;
    padding: 5px;
    width: 100%;
    text-align: center;
}

tr {
    border: 5px solid magenta;
}

th {
    border: 5px solid black;
    padding: 5px;
}

td {
    border: 5px solid lime;
    padding: 5px;
}

#table-th-number {
    width: 10px;
}

#table-th-name {
    width: 100px;
}

#table-th-edit-button {
    width: 10px;
}

#table-th-delete-button {
    width: 10px;
}

/*.rename-button {}*/

.rename-button:hover {
    stroke: red;
}

/*.delete-button {}*/

.delete-button:hover {
    stroke: red;
}